In [1]:
import pandas as pd
import gmaps
import requests

from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-07-13 10:59:36,-23.1203,-134.9692,74.19,76,94,9.60
1,1,Tupik,RU,2022-07-13 10:59:37,54.4253,119.9327,62.73,93,100,3.47
2,2,Barrow,US,2022-07-13 10:59:37,71.2906,-156.7887,37.42,87,100,10.36
3,3,Hosakote,IN,2022-07-13 10:59:38,14.2769,77.1699,70.93,87,100,25.68
4,4,Pala,TD,2022-07-13 10:59:38,9.3642,14.9046,77.25,74,100,3.96
...,...,...,...,...,...,...,...,...,...,...
538,538,Progreso,MX,2022-07-13 11:13:31,21.2833,-89.6667,79.11,87,100,8.41
539,539,Quang Ngai,VN,2022-07-13 11:13:32,15.1167,108.8000,79.81,89,96,3.20
540,540,Arlit,NE,2022-07-13 11:13:32,18.7369,7.3853,106.97,10,23,11.16
541,541,Lingao,CN,2022-07-13 11:13:32,19.9103,109.6859,83.84,80,30,15.32
542,542,Mastic Beach,US,2022-07-13 11:13:33,40.7668,-72.8521,76.21,86,39,3.00

In [3]:
gmaps.configure(api_key=g_key)

In [13]:
# make heatmap

locations = city_data_df[["Lat", "Lng"]]
max_temps_unfinished = city_data_df["Max Temp"]

max_temps = [max(temp, 0) for temp in max_temps_unfinished]

# assign figure and heatmap vars

fig = gmaps.figure(center=(30, 31), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temps, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of cloudiness

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Pala,TD,2022-07-13 10:59:38,9.3642,14.9046,77.25,74,100,3.96
6,6,Atuona,PF,2022-07-13 10:59:39,-9.8000,-139.0333,77.74,76,18,20.45
8,8,Abdulino,RU,2022-07-13 10:59:40,53.7000,53.6667,87.28,45,72,4.41
10,10,Urumqi,CN,2022-07-13 10:59:41,43.8010,87.6005,83.35,28,20,15.66
12,12,Faanui,PF,2022-07-13 10:59:41,-16.4833,-151.7500,78.17,72,2,11.95
...,...,...,...,...,...,...,...,...,...,...
529,529,Sunzha,RU,2022-07-13 11:13:28,43.3211,45.0522,84.54,33,4,6.78
538,538,Progreso,MX,2022-07-13 11:13:31,21.2833,-89.6667,79.11,87,100,8.41
539,539,Quang Ngai,VN,2022-07-13 11:13:32,15.1167,108.8000,79.81,89,96,3.20
541,541,Lingao,CN,2022-07-13 11:13:32,19.9103,109.6859,83.84,80,30,15.32
542,542,Mastic Beach,US,2022-07-13 11:13:33,40.7668,-72.8521,76.21,86,39,3.00

In [29]:
# create hotel dataframe

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

             City Country  Max Temp      Lat       Lng Hotel Name
4            Pala      TD     77.25   9.3642   14.9046
6          Atuona      PF     77.74  -9.8000 -139.0333
8        Abdulino      RU     87.28  53.7000   53.6667
10         Urumqi      CN     83.35  43.8010   87.6005
12         Faanui      PF     78.17 -16.4833 -151.7500
..            ...     ...       ...      ...       ...        ...
529        Sunzha      RU     84.54  43.3211   45.0522
538      Progreso      MX     79.11  21.2833  -89.6667
539    Quang Ngai      VN     79.81  15.1167  108.8000
541        Lingao      CN     83.84  19.9103  109.6859
542  Mastic Beach      US     76.21  40.7668  -72.8521

[209 rows x 6 columns]

In [37]:
# hotel parameters

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
     # Use the search term: "lodging" and our latitude and longitude.
        
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        #print(f"found hotel {hotels["results"][0]["name"]} in {hotel_df.loc[index, "City"]}")
        print(index)
    except (IndexError):
        print("hotel not found")
    except (TimeoutError):
        print("timeout")

4
6
8
10
12
13
16
17
21
24
25
27
29
39
43
45
46
48
51
53
58
61
62
65
66
67
68
69
70
72
74
77
78
82
83
85
89
91
100
105
108
110
115
119
121
123
124
131
134
137
142
147
150
153
154
155
156
158
160
163
164
166
168
169
171
172
173
174
182
183
185
186
187
hotel not found
199
200
201
hotel not found
203
204
207
209
210
211
226
227
230
231
233
234
237
238
242
247
249
252
253
hotel not found
261
262
265
268
270
274
275
278
hotel not found
286
287
289
hotel not found
298
299
300
301
302
303
307
310
311
317
319
328
329
341
342
344
345
346
349
350
354
355
356
360
361
363
366
367
368
370
372
373
374
378
379
hotel not found
387
hotel not found
391
395
396
400
403
404
405
408
410
414
415
420
421
424
426
428
430
432
433
434
436
437
440
441
442
448
449
450
453
454
462
463
464
465
466
hotel not found
hotel not found
hotel not found
487
490
hotel not found
493
495
hotel not found
497
500
508
512
515
516
hotel not found
519
520
526
527
529
538
539
541
542

In [38]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Pala,TD,77.25,9.3642,14.9046,Hotel Pala Palace
6,Atuona,PF,77.74,-9.8000,-139.0333,Villa Enata
8,Abdulino,RU,87.28,53.7000,53.6667,Hotel Lazur
10,Urumqi,CN,83.35,43.8010,87.6005,Hua Ling Grand Hotel Urumqi
12,Faanui,PF,78.17,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...
529,Sunzha,RU,84.54,43.3211,45.0522,Pvd Sop Uvd Po Mo
538,Progreso,MX,79.11,21.2833,-89.6667,Playa Linda Hotel
539,Quang Ngai,VN,79.81,15.1167,108.8000,Central Hotel
541,Lingao,CN,83.84,19.9103,109.6859,Lingao Ditai Inn
542,Mastic Beach,US,76.21,40.7668,-72.8521,Brushwood House by Smith Point Beach

In [42]:
# Add a heatmap of temperature for the vacation spots.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))